body{
    font-family: "nor_light", "Arial";
}
.txtJust{
    text-align: justify;
}

.sldTit{
    color: #fff !important;
    font-family: "nor_bold";
}

.norLight{
    font-family: "nor_light", "Arial";
}
.norRegular{
    font-family: "nor_regular", "Arial";
}
.norBold{
    font-family: "nor_bold", "Arial";
}