@font-face {
    font-family: 'nor_light';
    src: url('ainslie-norlig-webfont.eot');
    src: url('ainslie-norlig-webfont.eot?#iefix') format('embedded-opentype'),
         url('ainslie-norlig-webfont.woff2') format('woff2'),
         url('ainslie-norlig-webfont.woff') format('woff'),
         url('ainslie-norlig-webfont.ttf') format('truetype'),
         url('ainslie-norlig-webfont.svg#ainslie_norm_lightnorm_light') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nor_regular';
    src: url('ainslie-norreg-webfont.eot');
    src: url('ainslie-norreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('ainslie-norreg-webfont.woff2') format('woff2'),
         url('ainslie-norreg-webfont.woff') format('woff'),
         url('ainslie-norreg-webfont.ttf') format('truetype'),
         url('ainslie-norreg-webfont.svg#ainslie_norm_regularnormRg') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nor_bold';
    src: url('ainslie-norbol-webfont.eot');
    src: url('ainslie-norbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('ainslie-norbol-webfont.woff2') format('woff2'),
         url('ainslie-norbol-webfont.woff') format('woff'),
         url('ainslie-norbol-webfont.ttf') format('truetype'),
         url('ainslie-norbol-webfont.svg#ainslie_norm_boldnorm_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}